{% extends "base.html" %}
{% block title %}修改密码{% endblock %}
{% block content %}
    <div class="tpl-content-page-title">
        修改密码
    </div>
    <ol class="am-breadcrumb">
        <li><a href="" class="am-icon-home"> 首页 </a></li>
        <li class="am-active">修改密码</li>
    </ol>
    <div class="tpl-portlet-components">
<div class="tpl-alert"></div>
        <div class="tpl-block">

            <div class="am-u-sm-10 login-am-center">
                <form id="changepasswordForm" class="am-form" action="" method="post">
                    <fieldset>
                        <div class="am-form-group">
                            <input type="text" name="password" class="" id="doc-ipt-text-1" placeholder="输入原来密码">
                        </div>
                        <div class="am-form-group">
                            <input type="text" name="newpass" class="" id="doc-ipt-pwd-2" placeholder="请输入新密码">
                        </div>
                        <div class="am-form-group">
                            <input type="text" name="repass" class="" id="doc-ipt-pwd-3" placeholder="请再输入一次">
                        </div>
                        <p>
                            <button type="submit"  class="am-btn am-btn-default">提交</button>
                        </p>
                    </fieldset>
                </form>

            </div>
        </div>

    </div>
{% endblock %}