{% extends "base.html" %}
{% block title %}数据上传情况{% endblock %}

{% block content %}
    <div class="tpl-content-page-title">
        数据上传情况
    </div>
    <ol class="am-breadcrumb">
        <li><a href="#" class="am-icon-home">首页</a></li>

        <li class="am-active">数据上传情况</li>
    </ol>
    <div class="tpl-portlet-components">
        <div class="portlet-title">
            <div class="caption font-green bold">
                <span class="am-icon-code"></span> 列表
            </div>

            <div class="tpl-portlet-input tpl-fz-ml">
                <div class="portlet-input input-small input-inline">
                    <div class="input-icon right">
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <ul class="error-message">
                                    {% for message in messages %}
                                        <li class="am-icon-bell-o">{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>
            </div>


        </div>
        <div class="tpl-block">
            <div class="am-g">
                <div class="am-u-sm-12 am-u-md-6">
                    <div class="am-btn-toolbar">

                    </div>
                </div>

            </div>
            <div class="am-g">
                <div class="am-u-sm-12">

                    <table class="am-table  am-table-hover table-main">
                        <thead>
                        <tr>
                            <th class="table-title">指纹机编号</th>
                            <th class="table-author">下载状态</th>
                            <th class="table-date">下载时间</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for wr in dataview.items %}
                            <tr {% if wr.zt=="连接失败" %} class="sbrow" {% elif wr.zt=="下载失败" %}
                                                     class="xzsbrow" {% else %}
                                                     class="endrow" {% endif %}>

                                <td>{{ wr.sn}}</td>
                                <td>{{ wr.zt }}</td>
                                <td>{{ wr.sj}}</td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <div class="am-cf">

                        <div class="am-fr">
                            <ul class="am-pagination tpl-pagination">
                                {% if dataview.has_prev %}
                                    <li><a href="{{ url_for('.getmachinesstate',page=dataview.prev_num) }}">«</a></li>
                                {% endif %}
                                {% set page_now = dataview.page %}
                                {% set page_count = dataview.pages %}
                                {% for p in dataview.iter_pages() %}
                                    {% if page_now==p %}
                                        <li class="am-active"><a href="{{ url_for('.getmachinesstate',page=p) }}">{{ p }}</a>
                                        </li>
                                    {% else %}
                                        <li><a href="{{ url_for('.getmachinesstate',page=p) }}">{{ p }}</a></li>
                                    {% endif %}

                                {% endfor %}

                                {% if dataview.has_next %}
                                    <li><a href="{{ url_for('.getmachinesstate',page=dataview.next_num) }}">»</a></li>
                                {% endif %}

                            </ul>

                        </div>
                    </div>
                    <hr>


                </div>

            </div>
        </div>
        <div class="tpl-alert"></div>
    </div>
    <script language="JavaScript">

    </script>
{% endblock %}