{% extends "base.html" %}
{% block title %}得分统计{% endblock %}
{% block content %}
    <div class="tpl-content-page-title">
        得分统计
    </div>
    <ol class="am-breadcrumb">
        <li><a href="#" class="am-icon-home">首页</a></li>

        <li class="am-active">得分统计</li>
    </ol>
    <div class="tpl-portlet-components">
        <div class="portlet-title">
            <div class="caption font-green bold">
                <span class="am-icon-code"></span> 列表
            </div>
            <div class="tpl-portlet-input tpl-fz-ml">
                <!----------<div class="portlet-input input-small input-inline">
                    <div class="input-icon right">
                        <i class="am-icon-search"></i>
                        <input type="text" class="form-control form-control-solid" placeholder="搜索..."></div>
                </div>----------->
            </div>

        </div>
        <div class="tpl-block">
            <div class="am-g">
                <div class="am-u-sm-12 am-u-md-2">
                    <div class="am-btn-toolbar">
                        <div class="am-btn-group am-btn-group-xs">

                            <button type="button" class="am-btn am-btn-default am-btn-secondary"
                                    onclick="method5('tableExcel')"><span
                                    class="am-icon-modx"></span> 导出EXCEL
                            </button>

                        </div>
                    </div>
                </div>
                <form class="am-form" action="/search" method="get">
                    <div class="am-u-sm-12 am-u-md-2">
                        <div class="am-form-group">
                            <select name="dept" class="form-control form-control-solid">
                                <option value="all">所在单位</option>
                                {% for item in Dept %}
                                    {% if request.args.get('dept')==item.DepID|string %}
                                        <option value="{{ item.DepID }}" selected="selected">{{ item.DepName }}</option>
                                    {% else %}
                                        <option value="{{ item.DepID }}">{{ item.DepName }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="am-u-sm-12 am-u-md-2">
                        <div class="am-form-group">
                            <select name="role" class="form-control form-control-solid">
                                <option value="all">选择权限</option>
                                {% for item in roles %}
                                    <option value="{{ item.ID }}" {{ request.args.get('role') }}
                                            {% if item.ID|string==request.args.get('role') %}
                                            selected="selected" {% endif %}>{{ item.RoleName }}</option>
                                {% endfor %}

                            </select>
                        </div>
                    </div>
                    <div class="am-u-sm-12 am-u-md-2">
                        <div class="am-form-group">
                            <input name="startime" type="text" class="am-form-field" placeholder="起始日期"
                                    {% if request.args.get('startime')!=None %}
                                   value="{{ request.args.get('startime') }}" {% else %}
                                   value="{{ sttime }}" {% endif %} data-am-datepicker readonly
                                   required/>
                        </div>
                    </div>
                    <div class="am-u-sm-12 am-u-md-2">
                        <div class="am-form-group">
                            <input name="endtime" type="text" class="am-form-field" placeholder="截止日期"
                                    {% if request.args.get('endtime')!=None %}
                                   value="{{ request.args.get('endtime') }}" {% else %}
                                   value="{{ edtime }}" {% endif %} data-am-datepicker readonly
                                   required/>
                        </div>
                    </div>
                    <div class="am-u-sm-12 am-u-md-2">
                        <div class="am-input-group am-input-group-sm">
                            <input type="text" name="custname" class="am-form-field" placeholder="考勤号、姓名、用户名都可以"
                                    {% if request.args.get('custname')!=None %}
                                   value="{{ request.args.get('custname') }}" {% endif %}>
                            <span class="am-input-group-btn">
            <button class="am-btn  am-btn-default am-btn-success tpl-am-btn-success am-icon-search"
                    type="submit"></button>
          </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="am-g">
                <div class="am-u-sm-12">

                    <table id="tableExcel" class="am-table am-table-striped am-table-hover table-main">
                        <thead>
                        <tr>
                            <th>所在单位</th>
                            <th>姓名</th>
                            <th>考勤号</th>
                            <th>应到</th>
                            <th>实到</th>
                            <th>迟到早退</th>
                            <th>脱岗</th>
                            <th>未按指纹</th>
                            <th>公差</th>
                            <th>事假</th>
                            <th>病假</th>
                            <th>休假</th>
                            <th>出勤得分</th>
                            <th>绩效津贴</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for items in dataview %}
                            {% for item in items[0] %}
                                <tr>
                                    {% if loop.index==1 %}
                                        <td rowspan={{ items[0]|length }}>{{ item.DepName }}</td>
                                    {% endif %}
                                    <td>{{ item.truename }}</td>
                                    <td>{{ item.EnrollNumber }}</td>
                                    <td>{{ item.应到 }}</td>
                                    <td>{{ item.实到 }}</td>
                                    <td>{{ item.迟到早退 }}</td>
                                    <td>{{ item.脱岗 }}</td>
                                    <td>{{ item.未按指纹 }}</td>
                                    <td>{{ item.公差 }}</td>
                                    <td>{{ item.事假 }}</td>
                                    <td>{{ item.病假 }}</td>
                                    <td>{{ item.休假 }}</td>
                                    <td>{% set vl=item|jifen %}{{ vl }}</td>
                                    <td>{{ item|jintie(vl) }}</td>
                                </tr>
                            {% endfor %}
                            {% for item in items[1] %}
                                <tr>
                                    <td>{{ item.DepName }}</td>
                                    <td></td>
                                    <td></td>
                                    <td>{{ item.应到|round }}</td>
                                    <td>{{ item.实到|round }}</td>
                                    <td>{{ item.迟到早退|round }}</td>
                                    <td>{{ item.脱岗|round }}</td>
                                    <td>{{ item.未按指纹|round }}</td>
                                    <td>{{ item.公差|round }}</td>
                                    <td>{{ item.事假|round }}</td>
                                    <td>{{ item.病假|round }}</td>
                                    <td>{{ item.休假|round }}</td>
                                    <td>{% set vl=item|jifen %}{{ vl }}</td>
                                    <td>{{ item|jintie(vl) }}</td>
                                </tr>
                            {% endfor %}
                        {%- endfor %}
                        </tbody>
                    </table>
                    <hr>
                </div>
            </div>
        </div>
        <div class="tpl-alert"></div>
    </div>
    <script language="JavaScript" type="text/javascript">
        //第五种方法
        var idTmr;
        function getExplorer() {
            var explorer = window.navigator.userAgent;
            //ie
            if (explorer.indexOf("MSIE") >= 0) {
                return 'ie';
            }
            //firefox
            else if (explorer.indexOf("Firefox") >= 0) {
                return 'Firefox';
            }
            //Chrome
            else if (explorer.indexOf("Chrome") >= 0) {
                return 'Chrome';
            }
            //Opera
            else if (explorer.indexOf("Opera") >= 0) {
                return 'Opera';
            }
            //Safari
            else if (explorer.indexOf("Safari") >= 0) {
                return 'Safari';
            }
        }
        function method5(tableid) {
            if (getExplorer() == 'ie') {
                var curTbl = document.getElementById(tableid);
                var oXL = new ActiveXObject("Excel.Application");
                var oWB = oXL.Workbooks.Add();
                var xlsheet = oWB.Worksheets(1);
                var sel = document.body.createTextRange();
                sel.moveToElementText(curTbl);
                sel.select();
                sel.execCommand("Copy");
                xlsheet.Paste();
                oXL.Visible = true;

                try {
                    var fname = oXL.Application.GetSaveAsFilename("Excel.xls", "Excel Spreadsheets (*.xls), *.xls");
                } catch (e) {
                    print("Nested catch caught " + e);
                } finally {
                    oWB.SaveAs(fname);
                    oWB.Close(savechanges = false);
                    oXL.Quit();
                    oXL = null;
                    idTmr = window.setInterval("Cleanup();", 1);
                }

            }
            else {
                tableToExcel(tableid)
            }
        }
        function Cleanup() {
            window.clearInterval(idTmr);
            CollectGarbage();
        }
        var tableToExcel = (function () {
            var uri = 'data:application/vnd.ms-excel;base64,',
                template = '<html><head><meta charset="UTF-8"></head><body><table border="1">{table}</table></body></html>',
                base64 = function (s) {
                    return window.btoa(unescape(encodeURIComponent(s)))
                },
                format = function (s, c) {
                    return s.replace(/{(\w+)}/g,
                        function (m, p) {
                            return c[p];
                        })
                }
            return function (table, name) {
                if (!table.nodeType) table = document.getElementById(table)
                var ctx = {worksheet: name || 'Worksheet', table: table.innerHTML}
                window.location.href = uri + base64(format(template, ctx))
            }
        })()
    </script>

{% endblock %}