{% extends "t-application.html" %}
{% block title %}添加人员{% endblock %}
{% block content %}
    <div class="tpl-content-page-title">
        添加人员
    </div>
    <ol class="am-breadcrumb">
        <li><a href="#" class="am-icon-home">首页</a></li>

        <li class="am-active">添加人员</li>
    </ol>
    <div class="tpl-portlet-components">
        <div class="portlet-title">

            <div class="caption font-green bold">
                <span class="am-icon-code"></span> 表单
            </div>
            <div class="tpl-portlet-input tpl-fz-ml">
                <div class="portlet-input input-small input-inline">
                    <div class="input-icon right">
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <ul class="error-message">
                                    {% for message in messages %}
                                        <li class="am-icon-bell-o">{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>
            </div>

        </div>
        <div class="tpl-block ">

            <div class="am-g tpl-amazeui-form">
                <div class="am-u-sm-12 am-u-md-9">
                    <form action="" class="am-form am-form-horizontal" method="POST">
                        <div class="am-form-group">
                            <label for="user-phone" class="am-u-sm-3 am-form-label">登陆账户名</label>
                            <div class="am-u-sm-9">
                                <input name="username" type="text" placeholder="登陆账户名">
                            </div>
                        </div>

                        <div class="am-form-group">
                            <hr/>
                        </div>
                        <div class="am-form-group">
                            <label for="user-phone" class="am-u-sm-3 am-form-label">姓名</label>
                            <div class="am-u-sm-9">
                                <input name="truename" type="text" placeholder="姓名">
                            </div>
                        </div>
                       <div class="am-form-group">
                            <label for="user-phone" class="am-u-sm-3 am-form-label">考勤号</label>
                            <div class="am-u-sm-9">
                                <input name="EnrollNumber" type="text" placeholder="考勤号">
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label for="user-phone" class="am-u-sm-3 am-form-label">电话</label>
                            <div class="am-u-sm-9">
                                <input name="tel" type="tel" placeholder="电话号码">
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label for="user-QQ" class="am-u-sm-3 am-form-label">单位部门</label>
                            <div class="am-u-sm-9">
                                <select name="dept">
                                    {% for item in depts %}
                                        <option value="{{ item.DepID }} ">{{ item.DepName }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="user-weibo" class="am-u-sm-3 am-form-label">角色权限</label>
                            <div class="am-u-sm-9">
                                <select name="role">
                                    {% for item in roles %}
                                        <option value="{{ item.ID }} ">{{ item.RoleName }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="user-QQ" class="am-u-sm-3 am-form-label">班次规则</label>
                            <div class="am-u-sm-9">
                                <select name="shift">
                                    {% for item in shifts %}
                                        <option value="{{ item.ID }} ">{{ item.shiftname }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="user-QQ" class="am-u-sm-3 am-form-label">循环规则</label>
                            <div class="am-u-sm-9">
                                <select name="cycle">
                                    {% for item in cycles %}
                                        <option value="{{ item.ID }} ">{{ item.Sname }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label for="user-weibo" class="am-u-sm-3 am-form-label">起始日期</label>
                            <div class="am-u-sm-9">
                                <input name="startdate" type="date" class="am-form-field am-input-sm" placeholder="起始日期">
                            </div>
                        </div>
                        <div class="am-form-group">
                            <div class="am-u-sm-9 am-u-sm-push-3">
                                <button type="submit" class="am-btn am-btn-primary">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
{% endblock %}